name: "Conda different OS"

on:
  workflow_dispatch:

jobs:
  example-1:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.9", "3.10.10", "3.11"]
    steps:
      - name: Clear conda cache
        run: |
          rm -rf ~/.condarc ~/.conda
          
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: my_env
          auto-update-conda: true
          channels: conda-forge, defaults # Add channels as needed
          python-version: ${{ matrix.python-version }}

      - name: xtb installation
        shell: bash -l {0}
        run: |
          conda install -n my_env -c conda-forge xtb "libgfortran=14.2.0" "libgfortran5=14.2.0" -y 

      - name: Install MDAnalysis
        shell: bash -l {0}
        run: |
          conda install -n my_env -c conda-forge mdanalysis -y

      - name: Installing PySoftK
        shell: bash -l {0}
        run: |
           python -m pip install wheel
           python -m pip install "setuptools<70.0.0"
           python -m pip install .  

      - name: Run PySoftK-pysoftk test
        working-directory: ./test/test_pysoftk
        shell: bash -l {0}
        run: |
          python -m pip install pytest pytest-cov "setuptools<70.0.0"
          python -m pytest --junitxml=pytest1.xml --cov-report=xml:coverage1.xml --cov-report=term-missing:skip-covered --cov=pysoftk | tee pytest-coverage_1.txt

      - name: Run PySoftK-pol test
        working-directory: ./test/test_pol
        shell: bash -l {0}
        run: |
          python -m pip install pytest pytest-cov "setuptools<70.0.0"
          python -m pytest --junitxml=pytest2.xml --cov-report=xml:coverage2.xml --cov-report=term-missing:skip-covered --cov=pysoftk | tee pytest-coverage_2.txt
      
      - name: Run PySoftK-umap test
        working-directory: ./test/test_umap
        shell: bash -l {0}
        run: |
          python -m pip install pytest pytest-cov "setuptools<70.0.0"
          python -m pytest --junitxml=pytest3.xml --cov-report=xml:coverage3.xml --cov-report=term-missing:skip-covered --cov=pysoftk | tee pytest-coverage_3.txt

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./test/test_pysoftk/coverage1.xml,./test/test_pol/coverage2.xml,./test/test_umap/coverage3.xml
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
